<head><title>an internet economy</title><head>
<html>
{% if user %}
<h2>Me</h2>
Name: <form method="post" action="/user"><input type="text" value="{{username}}" name="username"><input type="submit" value="set"></form><br>
Money: {{money}}
<h2>Land</h2>
Land units owned: {{numberLand}} <br>
{% for l in land %}
Land: X: {{l.x}} Y: {{l.y}} value: {{l.value}}<br>
{% endfor %}

Buy more land:<form method="post" action="/buy"><input type="submit" value="buy"></form><br>

<h2>Buildings</h2>
{% for b in buildings %}
Building: Type: {{b.buildingType.name}} state: {{b.buildingState}}  <br>
{% endfor %}

<h2>Resources</h2>
{% for r in resources %}

{% endfor %}
<h2>Orders</h2>
<h3>Outstanding orders</h3>
{% for o in orders %}

{% endfor %}

<form method="post" action="/order">
I want to sell <input type="text" size="3" name="quantity"> items of xx at $<input type="text" size="3" name="unitprice"> each
<input type="submit" value="place offer" name="order">

<p>
I want to buy <input type="text" size="3" name="quantity"> items of xx at $<input type="text" size="3" name="unitprice"> each
<input type="submit" value="place order" name="order">
</form>

<a href="{{logout_url}}">logout</a>
{% else %}
<a href="{{login_url}}">login</a>
{% endif %}

</html>
