<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
            "http://www.w3.org/TR/html4/loose.dtd">
<head><title>an internet economy</title><head>
<body>
{% if user %}
<h2>Me</h2>
Name: <form method="post" action="/user"><input type="text" value="{{username}}" name="username"><input type="submit" value="set"></form><br>
Money: {{money}}
<h2>Land</h2>
Land units owned: {{numberLand}}:
<ul>
{% for l in land %}
<li>Land: X: {{l.x}} Y: {{l.y}} value: {{l.value}}</li>
{% endfor %}
</ul>
<p>Buy more land:<form method="post" action="/buy"><input type="submit" value="buy"></form></p>

<h2>Buildings</h2>
<ul>
{% for b in buildings %}
<li>Building: Type: {{b.buildingType.name}} state: {{b.buildingState}}</li>
{% endfor %}
</ul>

<h2>Resources</h2>
<ul>
{% for r in resources %}
<li>Resource: Type: {{r.resourceType.name}} quantity: {{r.quantity}}</li>
{% endfor %}
</ul>
<h2>Orders</h2>
<h3>All Outstanding offers</h3>
{% for o in offers %}
<li>{{o.player.name}} wants to {{o.transactionType}} {{o.quantity}} {{o.resourceType.name}} at ${{o.offeredPrice}} each
{% endfor %}

<h3>Make an offer</h3>
<form method="post" action="/order">
I want to sell <input type="text" size="3" name="sell_quantity"> items of 
<select size="1" name="sell_item">
{% for r in resources %}
<option value="{{r.resourceType.key.id}}">{{r.resourceType.name}}</option>
{% endfor %}
</select>
 at $<input type="text" size="3" name="sell_unitprice"> each
<input type="submit" value="place offer" name="order">

<p>
I want to buy <input type="text" size="3" name="buy_quantity"> items of 
<select size="1" name="buy_item">
{% for r in resourceTypes %}
<option value="{{r.key.id}}">{{r.name}}</option>
{% endfor %}
</select>
at $<input type="text" size="3" name="buy_unitprice"> each
<input type="submit" value="place order" name="order">
</form>

<a href="{{logout_url}}">logout</a>
{% else %}
<a href="{{login_url}}">login</a>
{% endif %}
</body>
</html>
